.header{
    display: flex;
    justify-content: space-between;
    padding: 5px;
    background-color:orange;
}

.logo-eato{
     width: 90px;
}

.nav-items ul{
    display: flex;
    list-style-type: none;
}

.nav-items li{
    color: white;
    padding: 7px;
    margin: 10px;
    font-size: 2rem;
}

.res-container{
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
} 

.res-card{
    width: 300px;
    height: auto;
    margin:10px;
    background-color: bisque;
    text-align: center;
}

.res-card:hover{
    box-shadow: 0 4px 8px rgba(255, 165, 0, 0.5);
    cursor: pointer;
}

.res-image{
    width:300px;
    height: 250px;
}

.filter{
    display: flex;
    padding: 10px;
}

.filter-btn,.filter-all-btn{
    margin:10px;
    cursor: pointer;
}

.search{
    margin: 10px;
}

.search input{
    padding: 10px;
}

.search-btn,.filter-btn,.filter-all-btn{
    margin:10px;
    padding: 10px;
    border: none;
    box-shadow: 0 4px 8px rgba(255, 165, 0, 0.5);
    background-color: orange;
    color: white;
    cursor: pointer;
}

.search-btn:hover,.filter-btn:hover,.filter-all-btn:hover{
    background-color: darkorange;
}

.shimmer-card{
    margin:10px;
    width:300px;
    height: 250px;
    box-shadow: 0 4px 8px gray;
}

.shimmer-container{
    display: flex;
    flex-wrap:wrap;
}

.login{
    padding:10px;
    margin: 10px;
    cursor: pointer;
    color: white;
    background-color: orange;
    border:2px solid darkorange;
    font-size: 1.5rem;
}

.login:hover{
    background-color: darkorange;
}
